venv/
env/
.venv/
*.venv

__pycache__/
*.py[cod]
*$py.class
*.pyo


*.log
local_settings.py
media/

staticfiles/
staticfiles_coletados/
static_root/

.env
.env.*
*.env

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

.coverage
htmlcov/
.pytest_cache/
.tox/

node_modules/