{% extends 'base.html' %}

{% block title %}Início | Biblioteca Digital{% endblock %}

{% block content %}
<section class="container pagina-simples">
    <h1>Biblioteca Digital</h1>

    <p>
        Esta é uma página temporária apenas para o link inicial funcionar.
        A página inicial completa será feita pelo Membro 1.
    </p>

    <div class="acoes-linha">
        <a class="botao primario" href="{% url 'usuarios:cadastro' %}">
            Cadastro do Leitor
        </a>

        <a class="botao secundario" href="{% url 'catalogo:detalhes_livro' 1 %}">
            Ver exemplo de detalhes do livro
        </a>
    </div>
</section>
{% endblock %}